@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
::selection {
  background: #455A64;
  color: #ECEFF1; }

body {
  padding: .125rem;
  background: #455A64;
  color: #263238;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: .1875rem; }

header {
  margin: .125rem;
  padding-left: .25rem;
  background: url("../img/bckg-mid.jpg"), #FF6D00;
  background-blend-mode: screen;
  background-size: cover;
  text-transform: capitalize; }

nav {
  border-left: 0.75rem double #455A64; }

h1 {
  padding-left: .25rem;
  width: calc((100vw - 1.5rem) / 4 - 3.5px);
  display: inline-block;
  font-style: italic; }
  h1 a:nth-of-type(2) {
    color: #FF9E80; }

ul {
  padding: 0 .35rem 0 0;
  width: calc((100vw - 1.5rem) * 3 / 4 - 3.5px);
  display: inline-block;
  text-align: right; }

li {
  width: 10vw;
  padding-right: .35rem;
  display: inline-block;
  border-right: 0.1rem solid #455A64;
  border-bottom: 0.01rem solid #455A64; }

a {
  text-decoration: none;
  color: #455A64; }
  a:hover {
    color: #80D8FF; }

table {
  width: calc(100vw - .25rem);
  text-align: center;
  text-transform: uppercase; }

td {
  margin: .125rem;
  padding: 5vh;
  width: calc(50vw - .125rem);
  display: inline-block;
  background: #455A64; }
  td:nth-of-type(1) {
    background: #FF9E80;
    color: #ECEFF1; }
  td:nth-of-type(4) {
    background: #80D8FF; }
  td:nth-of-type(6) {
    background: #FF9E80;
    color: #ECEFF1; }
  td:nth-of-type(7) {
    background: #80D8FF; }
  td:nth-of-type(9) {
    width: 100vw;
    background: url("../img/bckg-top.jpg"), #FF6D00;
    background-blend-mode: screen;
    background-size: cover; }
  td:nth-of-type(11) {
    background: #80D8FF;
    color: #ECEFF1; }
  td:nth-of-type(12) {
    background: #FF9E80; }
  td:nth-of-type(14) {
    background: #80D8FF;
    color: #ECEFF1; }
  td:nth-of-type(17) {
    background: #FF9E80; }
