
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans')
$gf-ips: 'IBM Plex Sans', sans-serif

$md-lb-a1: #80D8FF
$md-or-a7: #FF6D00
$md-do-a1: #FF9E80
$md-bg-05: #ECEFF1
$md-bg-70: #455A64
$md-bg-90: #263238


body
  background: $md-bg-05
  color: $md-bg-90
  font-family: $gf-ips
  letter-spacing: .1875rem

header
  padding-left: .15rem
  background: url('/img/banner.jpg'), $md-or-a7
  background-blend-mode: screen
  background-size: cover
  text-transform: capitalize

nav
  border-left: .75rem double $md-bg-70

h1
  width: 24.5%
  padding-left: .25rem
  display: inline-block
  text-align: left
  font-style: italic
  a:nth-of-type(2)
    color: $md-do-a1

ul
  width: 75%
  display: inline-block
  text-align: right

li
  width: 25%
  padding-right: .25rem
  display: inline-block
  border-right: .1rem solid $md-bg-70
  border-bottom: .01rem solid $md-bg-70

a
  text-decoration: none
  color: $md-bg-70
  &:hover
    color: $md-lb-a1


// ! Refactor in accordance with SASS documentation
// ! Remove unnecessary tags and attributes
// ! Hovering over navigational link tags creates colorful borders across their respective list tag containers
