@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
body {
  background: #ECEFF1;
  color: #263238;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: .1875rem; }

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-left: .15rem;
  background: rgba(255, 109, 0, 0.5);
  text-transform: capitalize; }

nav {
  border-left: 0.75rem double #455A64; }

h1 {
  width: 24.5%;
  padding-left: .25rem;
  display: inline-block;
  text-align: left;
  font-style: italic; }
  h1 a {
    color: #455A64; }
    h1 a:nth-of-type(2) {
      color: #00B8D4; }

ul {
  width: 75%;
  display: inline-block;
  text-align: right; }

li {
  width: 25%;
  padding-right: .25rem;
  display: inline-block;
  border-right: 0.1rem solid #455A64;
  border-bottom: 0.01rem solid #455A64; }

a {
  text-decoration: none;
  color: #ECEFF1; }
  a:hover {
    color: #00B8D4; }

article {
  z-index: 0;
  height: 100%;
  background: url("/img/banner.jpg") no-repeat;
  background-size: contain;
  filter: grayscale(75%); }

p {
  line-height: 475px;
  text-align: center; }
