@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");
::selection {
  background: #455A64;
  color: #ECEFF1; }

body {
  background: #455A64;
  color: #263238;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: .1875rem; }

header {
  margin-top: .25rem;
  padding-left: .15rem;
  background: url("/img/bckg-mid.jpg"), #FF6D00;
  background-blend-mode: screen;
  background-size: cover;
  text-transform: capitalize; }

nav {
  border-left: 0.75rem double #455A64; }

h1 {
  padding-left: .25rem;
  display: inline-block;
  font-style: italic; }
  @media (min-width: 1366px) {
    h1 {
      width: 24.4%; } }
  @media (min-width: 1920px) {
    h1 {
      width: 24.5%; } }
  h1 a:nth-of-type(2) {
    color: #FF9E80; }

ul {
  width: 75%;
  display: inline-block;
  text-align: right; }

li {
  width: 25%;
  padding-right: .25rem;
  display: inline-block;
  border-right: 0.1rem solid #455A64;
  border-bottom: 0.01rem solid #455A64; }

a {
  text-decoration: none;
  color: #455A64; }
  a:hover {
    color: #80D8FF; }

table {
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

td {
  margin-top: .25rem;
  padding: 5vh;
  width: 50%;
  display: inline-block;
  background: #455A64; }
  td:nth-of-type(1) {
    background: #FF9E80;
    color: #ECEFF1; }
  td:nth-of-type(4) {
    background: #80D8FF; }
  td:nth-of-type(6) {
    background: #FF9E80;
    color: #ECEFF1; }
  td:nth-of-type(7) {
    background: #80D8FF; }
  td:nth-of-type(9) {
    width: 100%;
    background: url("/img/bckg-top.jpg"), #FF6D00;
    background-blend-mode: screen;
    background-size: cover; }
  td:nth-of-type(11) {
    background: #80D8FF;
    color: #ECEFF1; }
  td:nth-of-type(12) {
    background: #FF9E80; }
  td:nth-of-type(14) {
    background: #80D8FF;
    color: #ECEFF1; }
  td:nth-of-type(17) {
    background: #FF9E80; }
