
!!!

%title Bestcom Bell - Heating / Ventilation / Air-Conditioning

-# ? -
%meta{:content => 'width=device-width; initial-scale=1.0', :name => 'viewport'}

-# ? - 'https'
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css", :rel => "stylesheet"}
%link{:href => "css/styles.css", :rel => "stylesheet"}


%header
  %nav
    %h1
      %a{:href => '#'} bestcom
      %a{:href => '#'} bell
    %ul
      %li
        %a{:href => '#'} about us
      %li
        %a{:href => '#'} past work
      %li
        %a{:href => '#'} contact us

%section
  %table
    %tr
      %td
        %p
          What we do
      %td
    %tr
      %td
      %td
        %p
          We at Bestcom Bell take care of your system's installation, testing, and maintenance.

-#%footer


-# ? - 'https'
%script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:src => "js/script.js"}


-#
  For: Bestcom Bell

  ! Split image among header and footer
  ! Use table layout for the body in between

  ! Remove unnecessary elements
  ! Read CodeKit documentation
  ! Validate generated HTML, CSS, and JS files
  ! Publish on GitHub
