
!!!

%title Bestcom Bell - Heating / Ventilation / Air-Conditioning

-# ? -
%meta{:content => 'width=device-width; initial-scale=1.0', :name => 'viewport'}

-# ? - 'https'
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css", :rel => "stylesheet"}
%link{:href => "css/styles.css", :rel => "stylesheet"}


%header
  %nav
    %h1
      %a{:href => '#'} bestcom
      %a{:href => '#'} bell
    %ul
      %li
        %a{:href => '#about'} about us
      %li
        %a{:href => '#past'} past work
      %li
        %a{:href => '#contact'} contact us

%section
  %table#about
    %td
      %i.material-icons ac_unit
      %p
        what we do
    %td
    %td
    %td
      %p
        we at bestcom bell will take care of your ac's installation, testing, and maintenance.
        we'll even help you choose the right one.
    %td
    %td
      %i.material-icons group
      %p
        why us
    %td
      %p
        we bring 8+ years of experience in both commercial and residential settings.
        also, our technicians speak russian too!
    %td
    %td
    %td
    %td
      %i.material-icons shopping_cart
      %p
        choosing the right ac
    %td
      %p
        blank
    %td
    %td
      %i.material-icons build
      %p
        taking care of your ac
    %td
    %td
    %td
      %p
        blank

  -#%article#past


%footer#contact
  %h2 contact us
  %ul
    %li
      %a like us on FB!
    %li
      %a or rate us on yelp...
    %li
      %a give us a call
    %li
      %a or email us



-# ? - 'https'
%script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:src => "js/script.js"}


-#
  For: Bestcom Bell

  ! Remove unnecessary elements
  ! Read CodeKit documentation
  ! Validate generated HTML, CSS, and JS files
  ! Publish on GitHub 
