
!!!

%title Bestcom Bell - Heating / Ventilation / Air-Conditioning

-# ? -
%meta{:content => 'width=device-width; initial-scale=1.0', :name => 'viewport'}

-# ? - 'https'
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css", :rel => "stylesheet"}
%link{:href => "css/styles.css", :rel => "stylesheet"}


%header
  %nav
    %h1
      %a{:href => '#'} bestcom
      %a{:href => '#'} bell
    %ul
      %li
        %a{:href => '#about'} about us
      -#%li
      -#  %a{:href => '#past'} past work
      %li
        %a{:href => '#contact'} contact us

%section
  %table#about
    %td
      %i.material-icons ac_unit
      %p
        what we do
    %td
    %td
    %td
      %p
        we at bestcom bell will take care of your ac's installation, testing, and maintenance.
        we'll even help you choose the right one.
    %td
    %td
      %i.material-icons group
      %p
        why us
    %td
      %p
        we bring 8+ years of experience in both commercial and residential settings.
        also, our technicians speak russian too!
    %td
    %td
    %td
    %td
      %i.material-icons shopping_cart
      %p
        choosing the right ac
    %td
      %p
        acs come in three varieties — window, freestanding, and built-in.
        window acs enjoy popularity due to their affordability and ease of installation,
        while freestanding ones can easily be moved between different rooms,
        although they are less efficient.
        the built-in acs, while being mounted on the walls, can provide both hot and cold air;
        and while they are more expensive, don't take up any windows space.
        it is also important to choose the right cooling capacity (btu) based on your room size.
        these range from 5,000 to 20,000 and are meant for spaces with dimensions from 150 square
        feet to 1,500.
    %td
    %td
      %i.material-icons build
      %p
        taking care of your ac
    %td
    %td
    %td
      %p
        taking care of your ac unit is very important.
        the outdoor units collect dirt and debris that will damage the system if not cleaned regularly.
        the filter of the unit itself must also be replaced every few months as it accumulates the dirt, pollutants, and allergens, which are all harmful to your health.
        ac units also have various coils which will result in restricted airflow if not cleaned properly.

  -#%article#past


%footer#contact
  %h2 contact us
  %ul
    %li
      %i.fab.fa-facebook-f
      %a{:href => '#'} like us on FB!
    %li
      %i.fab.fa-yelp
      %a{:href => '#'} or rate us on Yelp...
    %li
      %i.fas.fa-phone
      %a{:href => 'tel:+17183109119'} call us at (718) 310-9119
    %li
      %i.fas.fa-envelope
      %a{:href => 'mailto:bestcombell@gmail.com'} or email us at bestcombell@gmail.com



-# ? - 'https'
%script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:src => "js/script.js"}


-#
  For: Bestcom Bell

  ! ? Double-check text colors

  ! Remove unnecessary elements
  ! Read CodeKit documentation
  ! Validate generated HTML, CSS, and JS files
  ! Publish on GitHub
