
!!!

%title Bestcom Bell - Heating / Ventilation / Air-Conditioning

-# ? -
%meta{:content => 'width=device-width; initial-scale=1.0', :name => 'viewport'}

-# ? - 'https'
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css", :rel => "stylesheet"}
%link{:href => "css/styles.css", :rel => "stylesheet"}


%header
  %nav
    %h1
      %a{:href => '#'} bestcom
      %a{:href => '#'} bell
    %ul
      %li
        %a{:href => '#about'} about us
      %li
        %a{:href => '#past'} past work
      %li
        %a{:href => '#contact'} contact us

%section
  %table#about
    %td
      %i.material-icons ac_unit
      %p
        what we do
    %td
    %td
    %td
      %p
        we at bestcom bell will take care of your system's installation, testing, and maintenance.
        we will even help you choose the right system for you.
    %td
    %td
      -#%svg{:fill => '#FFFFFF', :height => '24', :viewBox => '0 0 24 24', :width => '24', :xmlns => 'http://www.w3.org/2000/svg'}
      -#  %path{:d => 'M0 0h24v24H0z', :fill => 'none'}
      -#  %path{ :d => 'M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z'}
      %i.material-icons group
      %p
        why us
    %td
      %p
        we bring 8+ years of experience in both commercial and residential settings.
        also, our technicians speak russian too!
    %td
    %td
    %td
    %td
      %i.material-icons shopping_cart
      %p
        choosing the right system
    %td
      %p
        blank
    %td
    %td
      %i.material-icons build
      %p
        taking care of the system
    %td
    %td
    %td
      %p
        blank

  -#%article#past


%footer#contact


-# ? - 'https'
%script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:src => "js/script.js"}


-#
  For: Bestcom Bell

  ! Remove unnecessary elements
  ! Read CodeKit documentation
  ! Validate generated HTML, CSS, and JS files
  ! Publish on GitHub
